<div class="panel panel-primary">
  <div class="panel-heading">
    {{ vm.user.name }}
  </div>
  <div class="panel-body">
    <div ng-show="!!vm.user.address">
      Address: <br>
      <ul>
        <li ng-bind="vm.user.address.street"></li>
        <li ng-bind="vm.user.address.city"></li>
        <li ng-bind="vm.user.address.planet"></li>
      </ul>
    </div>
    <div>
      Friends:
      <div ng-repeat="friend in vm.user.friends" ng-bind="friend">
      </div>
    </div>
    <div ng-show="!!user.rank">
      Rank: {{ user.rank }}
    </div>
    <button ng-show="!user.rank" 
            class="btn btn-success"
            ng-click="knightMe( user )">
      Knight me
    </button>
  </div>
</div>
