html
  head
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    script(src="/bower_components/angular/angular.min.js")

  body(ng-app="jobApp")
    .container
      h1 Find a job today!
      div(ng-controller="jobController as vm")
        .list-group
          a.list-group-item(href="#")(ng-repeat="job in vm.jobs")
            h4.list-group-item-heading(ng-bind="job.title")
            p.list-group-item-text(ng-bind="job.description")

    script(src="/app/app.js")
    script(src="/app/controller.js")